__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
.pythonlibs/
*.log
app/outputs/logs/*
app/outputs/results/*
!app/outputs/logs/.gitkeep
!app/outputs/results/.gitkeep
data/*.csv
chroma_db/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
